/* Theme vars  */
:root {
  --color-black: #000;
  --color-white: #FFF;
  --color-clear: #9b9b9b;
  --color-dark: #3b3b3b;
  --color-1: #340164;
  --color-2: #55022e;
  --color-contrast: #ff9100;
  --color-hover: #ff9100;
  /*  */
  --padding-1: 8px;
  --padding-2: 16px;
  --padding-3: 32px;
  /*  */
  --font-title: "Assistant", sans-serif;
  --font-content: "Kanit", sans-serif;
}
/* Fonts */
@import "https://fonts.googleapis.com/css?family=Assistant:200|Kanit:100";
/* Wireframe */
* {
  /* outline: 1px solid lime; */
  box-sizing: border-box;
}
/* General */
body {
  background-color: var(--color-2);
  color: var(--color-white);
  font-family: var(--font-content);
}
div {
  height: 100%;
}
p {
  color: var(--color-clear);
  font-weight: 100;
}
a {
  color: var(--color-contrast);
}
a:hover {
  color: var(--color-hover);
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-title);
  color: var(--color-clear);
}
img {
  object-fit: cover;
  height: 100% !important;
  width: 100%;
}
#App {
  /* padding-top: 80px; */
}
.ha {
  height: auto;
}
.no-padding {
  padding: 0px;
}
.no-margin {
  margin: 0;
}
