/* Vars  */
:root {
  --color-black: #000;
  --color-white: #FFF;
  --color-1: purple;
  --color-2: pink;
  --color-contrast: gray;
  --color-hover: orange;
  /*  */
  --padding-1: 8px;
  --padding-2: 16px;
  --padding-3: 32px;
  /*  */
  --font-title: "Assistant", sans-serif;
  --font-content: "Kanit", sans-serif;
}
/* wireframe */
* {
  outline: 1px solid lime;
}
/* Fonts */
@import "https://fonts.googleapis.com/css?family=Assistant:200|Kanit:100";
/*  */
body {
  background-color: var(--color-2);
  font-family: var(--font-content);
}
div {
  height: 100%;
}
a {
  color: var(--color-contrast);
}
a:hover {
  color: var(--color-hover);
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-title);
}

/* General resets */
.ha {
  height: auto;
}
.no-padding {
  padding: 0px;
}
.no-margin {
  margin: 0;
}
