footer {
  position: relative;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
  padding: var(--padding-1) 0;
  background-color: var(--color-black);
  height: 3rem;
  width: 100%;
  z-index: 10000;
}
.copyright {
  max-width: 60rem;
  margin: 0 auto;
}
