#heroscreen {
  background-color: var(--color-black);
  height: calc(100vh - 7rem);
}
#wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 60rem;
  margin: 0 auto;
}
#title {
  margin-bottom: var(--padding-3);
  font-size: 4rem
}
#title small {
  margin-bottom: var(--padding-3);
  font-size: 1.5rem
}
#slogan {
  margin-bottom: var(--padding-3);
  font-size: 2rem
}
